.bonificaciones-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.bonificaciones-header {
  text-align: center;
  margin-bottom: 20px;
}

.search-add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-button button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.lineas-a-mostrar select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.bonificaciones-lista {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.bonificacion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.bonificacion-info {
  flex: 1;
}

.bonificacion-buttons button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.paginacion {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginacion button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  width: 60%; 
  max-width: 400px; 
  max-height: 40%; 
  overflow: auto;
  padding: 20px;
  border: none;
  background-color: #ffffff94;
  border-radius: 4px;
  outline: none;
}